/*body para toda la web*/
body {
    margin: 0 auto;
    background-color: #fefef4;
    color: #5d4609;
    font-family: monospace;
    padding: 0px;
}
/*título de la página*/
.titulo {
    margin-bottom: -20px;
}
.titulo h1 {
    margin-bottom: 50px;
	font-family: "French Script MT";
    font-size: 80px;
	color: #83c499;
    display: inline-block;
    margin-left: 20px;
    }
.titulo h2 {
    font-family: "French Script MT";
    font-size: 40px;
    display: inline-block;
    margin-left: 40%;
}
.titulo img {
    max-width: 60px;
    height: auto;
    margin-bottom: -10px;
}
header {
    border-bottom: 5px solid #83c499; 
    line-height: 0.1px;
}
/*menú de navegación*/
#menu-libro {
    display: none;
}
nav ul li {
    list-style: none;
    float: right;
    margin: 2px;
    padding: 10px;
    font-family: "Century Gothic";
    font-size: 17px;
    font-weight: bold;
    border: 4px solid #badcb6;
    border-radius: 35px;
}
nav ul li:hover {
    border-color: darkcyan;
    background-color: #9de495;
}
nav ul li a{
    color: #6d603e;
    text-decoration: none;
}
nav {
    margin-right: 13px;
}
/*botones de toda la web*/
button {
    padding: 8px;
    color: #5d4609;
    font-family: "Century Gothic";
    font-weight: bold;
    border: 3px solid #badcb6;
    border-radius: 35px;
    background-color: #fefef4;
}
button a {
    text-decoration: none;
    color: #5d4609; 
}
button:hover {
   border-color: darkcyan;
   background-color: #9de495;  
}
/*Palabras etiqueta strong*/
strong {
    color: #83c499;
}
/*footer de toda la web*/
footer {
    height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #d0fccb;
    border-radius: 8px;
    clear: both;
    padding: 4px;
}
/*Página de inicio*/
/*Texto de presentación*/
.presentacion {
    text-align: center;
    font-size: 17px;
    width: 50%;
    float: left;
    margin-left: 80px;
    box-sizing: border-box;
    margin-top: 40px;
}
/*Texto de reseñas*/
.resenas {
    font-size: 15px;    
    border: 3px solid #badcb6;
    border-radius: 6%;
    border-bottom: none;
    width: 30%;
    padding: 20px;
    text-align: center;
    float: left;
    margin-top: 5%;
    margin-left: 80px;
}
.resenas ul {
    list-style: none;
}
.resenas h3 {
    font-family: "Century Gothic";
    text-align: center;
    color: #83c499;
}
/*Foto de entrada*/
.entrada {
    max-width: 450px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10%;
}
/*Formulario para reseñas*/
.formulario1 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 90px;
    border: 3px solid #badcb6;
    border-radius: 50%;
    border-top: none;
    padding: 55px;
    float: right;
}
.formulario1 p {
    font-family: "Century Gothic";
    text-align: center;
    font-size: 17px;
    color: #83c499;
}
.formulario1 h4 {
    font-family: "Century Gothic";
    text-align: center;
    font-size: 17px;
    color: #83c499;
}
.formulario1 input {
    color: #5d4609;
    background-color: #fefef4;
    border: 2px solid #badcb6;
    border-radius: 3px;
}
.formulario1 textarea {
    color: #5d4609;
    background-color: #fefef4;
    border: 2px solid #badcb6;
    border-radius: 3px;
}
.formulario1 button {
    margin-left: 80%;
}
/*Texto de información de la web con accesos directos a las distintas páginas*/
.info {
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 15px;
    width: 60%;
    list-style-position: inside;
    margin-bottom: 20px;    
}
.info h4 {
    font-family: "Century Gothic";
    text-align: center;
    font-size: 19px;
    color: #83c499;
}
.info a {
    text-decoration: none;
    color: #7fb37a;
    font-weight: bold;
}
/*Botón volver arriba*/
.iniboton {
    float: right;
    margin-right: 30px;
    clear: both;
    margin-bottom: 10px;
}
.iniboton img {
    height: 25px;
}
/*Página de quienes somos*/
/*Texto de historia*/
.historia h3 {
    font-size: 24px;
    font-family: "Century Gothic";
    color: #83c499;
}
.historia {
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin: 6% auto;
}
/*Foto de quienes somos*/
.JuliayPablo {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
}
/*Página de productos*/
/*Texto de información de productos*/
.informacion h3 {
    font-size: 24px;
    font-family: "Century Gothic";
    color: #83c499;
    margin-top: 15%;
    text-align: center;
}
.informacion {
    width: 45%;
    margin-left: 26%;
    margin-right: 26%;
    font-size: 16px; 
}
/*Enlace con la palabra "abajo" que dirige al formulario inferior de la página*/
.informacion a {
    text-decoration: none;
    color: #7fb37a;
    font-weight: bold; 
}
/*Presentación de los productos*/
.productos {
    font-size: 13px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
.productos figcaption {
    margin-top: 6px;
}
/*Formulario de encargos*/
.encargos h4 {
    font-size: 16px;
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 17px;
}
.encargos {
    font-size: 13px;
    text-align: center;
    border: 3px solid #badcb6;
    border-bottom: none;
    border-top: none;
    border-radius: 30%;
    padding: 45px;
    padding-top: 1px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
}
.encargos label {
    font-weight: bold;
}
.encargos input {
    color: #5d4609;
    background-color: #fefef4;
    border: 2px solid #badcb6;
    border-radius: 3px;
}
.encargos select {
    color: #5d4609;
    background-color: #fefef4;
    border: 2px solid #badcb6;
    border-radius: 3px;
}
.encargos textarea {
    color: #5d4609;
    background-color: #fefef4;
    border: 2px solid #badcb6;
    border-radius: 3px;
}
.proboton {
    float: right;
    margin-right: 20px;
    margin-bottom: 15px;
}
.proboton img {
    height: 25px;
}
/*pagina de servicios*/
/*titulo servicios*/
.nuestros-servicios {
    font-size: 24px;
    font-family: "Century Gothic";
    color: #83c499;
    margin-top: 7%;
    text-align: center;
}
/*sala de lectura */
.sala-lectura {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: auto 90px;
    margin-bottom: 30px;
    border-bottom: 3px dotted #83c499;
}
.sala-lectura img {
    max-width: 400px;
    height: 350px;
    margin-right: 70px;
    margin-bottom: 30px;
}
/*sala de firmas*/
.sala-firmas {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: auto 90px;
    margin-bottom: 30px;
    border-bottom: 3px dotted #83c499;
}
.sala-firmas img {
    max-width: 400px;
    height: 350px;
    margin-right: 70px;
    margin-bottom: 30px;
}
/*punto de recogida*/
.punto-recogida {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: auto 90px;
    margin-bottom: 30px;
    border-bottom: 3px dotted #83c499;
}
.punto-recogida img {
    max-width: 400px;
    height: 350px;
    margin-right: 70px;
    margin-bottom: 30px;
}
.tarjeta-puntos {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: auto 90px;
}
.tarjeta-puntos img {
    max-width: 400px;
    height: 250px;
    margin-bottom: 50px;
    margin-right: 70px;
}
/*boton de volver arriba*/
.serboton {
    margin-bottom: 15px;
    float: right;
    margin-right: 20px;
}
.serboton img {
    height: 25px;
}
/*Página de noticias*/
/*Próximos libros*/
.tit1 {
    color: #83c499;
    font-size: 24px; 
    font-family: "Century Gothic";
    margin-top: 7%;
    text-decoration: underline;
    text-align: center;
}
.libros-nuevos {
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 3px dotted #83c499;
}
.libros-nuevos img {
    max-width: 100px;
    height: auto;
}
/*Próximas firmas*/
.tit2 {
    color: #83c499;
    font-size: 22px;
    font-family: "Century Gothic";
    text-decoration: underline;
    text-align: center;
}
.calendario {
    border-bottom: 3px dotted #83c499;
    text-align: center;
}
.calendario p {
    font-size: 15px;
    font-weight: bold;
}
th {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 18px;
    text-decoration: underline;
}
table {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
}
td {
    font-size: 15px;
}
td strong {
    color: #5d4609;
}
/*Sección de curiosidades*/
.tit3 {
    color: #83c499;
    font-size: 22px;
    font-family: "Century Gothic";
    text-decoration: underline;
    text-align: center;
}
.mini-max h5 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 17px;
    text-decoration: overline;
}
.mini-max {
    margin-left: 80px;
    font-size: 15px;
    width: 60%;
}
.mini-max img {
    max-width: 320px;
}
.benefi h5 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 17px;
    text-decoration: overline;
}
.benefi {
    font-size: 15px;
    margin-left: 80px;
}
.tasa h5 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 17px;
    text-decoration: overline;
}
.tasa {
    font-size: 15px;
    margin-left: 80px;
    width: 60%;
}
.tasa a {
    color: #83c499;
    text-decoration: none;
    font-weight: bold;
}
.tasa strong {
    color: #5d4609;
}
/*botón de volver arriba*/
.notboton {
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
}
.notboton img {
    height: 25px;
}
/*Página de contacto*/
.conta {
    margin-top: 100px;
    border: 3px solid #badcb6;
    border-bottom: none;
    border-top: none;
    border-radius: 20%;
    padding: 45px;
    padding-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
}
/*Dirección*/
.direc h4 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 20px;
    text-decoration: underline dotted;
    margin-left: 50px;
}
.direc address {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
}
/*Teléfono*/
.telef {
    text-align: center;
}
.telef h4 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 20px;
    text-decoration: underline dotted;
}
.telef li {
    font-size: 15px;
    list-style: none;
    font-weight: bold;
}
/*Redes sociales*/
.redes h4 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 20px;
    text-decoration: underline dotted;
    margin-left: 50px;
}
.redes {
    text-align: center;
}
/*Página de contacto*/
.conta {
    width: 60%;
    margin: auto;
    margin-top: 8%;
    border: 3px solid #badcb6;
    border-bottom: none;
    border-top: none;
    border-radius: 20%;
}
/*Dirección*/
.direc {
    text-align: center;
}
.direc h4 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 20px;
    text-decoration: underline dotted;
}
.direc li {
    font-size: 15px;
    list-style: none;
    font-weight: bold;
}
/*Teléfono*/
.telef {
    text-align: center;
}
.telef h4 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 20px;
    text-decoration: underline dotted;
}
.telef li {
    font-size: 15px;
    list-style: none;
    font-weight: bold;
}
/*Redes sociales*/
.redes h4 {
    font-family: "Century Gothic";
    color: #83c499;
    font-size: 20px;
    text-decoration: underline dotted;
    margin-right: 50px;
}
.redes {
    text-align: center;
    margin-left: 50px;
}
.redes p {
    font-size: 15px;
    font-weight: bold;
}
/*Botón de volver arriba*/
.conboton {
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
}
.conboton img {
    height: 25px;
}
@media screen and (max-width:800px){
    .titulo h1 {
        font-size: 50px;
        width: 40%;
    }
    .titulo h2 {
        font-size: 35px;
        display: inline;
        margin-left: 15%;
    }
    .presentacion {
        width: 80%;
        float: none;
        margin-top: 15%; 
    }
    .entrada {
        margin-bottom: 5%;
    }
    .resenas {
        width: 50%;
        float: none;
        margin-left: 21%;
        margin-right: 21%;
        margin-bottom: 8%;
    }
    .formulario1 {
        width: 45%;
        margin-top: 30px;
        margin-left: 19%;
        margin-right: 19%;
        float: none;   
    }
   .info {
       margin-top: 60px;
       float: none;
       margin-left: 20%;
    }
    .historia h3 {
        text-align: center;
    }
    .historia {
        width: 60%;
        float: none;
        text-align: center;
        margin: auto;
        margin-top: 12%;
    }
    .JuliayPablo {
        float: none;
        margin: 30px auto;
    }
    .informacion h3 {
        margin-top: 23%;
    }
    .informacion {
        width: 49%;
        margin: auto;
        text-align: center;
    }
    .productos {
        display: inherit;
        margin: 30px auto;
        width: 60%;
        font-size: 15px;
    }
    .productos figcaption {
        margin-bottom: 30px;
    }
    .encargos {
        margin-top: 80px;
    }
    .nuestros-servicios {
        margin-top: 12%;
        margin-bottom: 5%;
    }
    .sala-lectura {
        width: 90%;
        margin: auto;
    }
    .sala-firmas {
        width: 90%;
        margin: auto;
    }
    .sala-firmas img {
        margin-top: 30px;
    }
    .punto-recogida {
        width: 90%;
        margin: auto;
    }
    .punto-recogida {
        margin-top: 30px;
    }
    .tarjeta-puntos {
        display: inherit;
        text-align: center;
    }
    .tarjeta-puntos img {
        margin: auto;
        margin-top: 30px;
    }
    .tit1 {
        margin-top: 12%;
    }
    .conta {
        width: 80%;
        margin: auto;
        margin-top: 15%;
    }
}
@media screen and (max-width:768px){
    .titulo h1 {
        font-size: 40px;
        width: 47%;
        margin-bottom: -50px;
    }
    .titulo h2 {
        font-size: 30px;
        display: inline-block;
        margin-bottom: 35px;
        margin-left: 44%;
    }
    /*Menú hamburguesa*/
    .menu-icon {
        width: 30px;
        height: 25px;
        position: relative;
        cursor: pointer;
        margin: 20px;
        color:  #badcb6;
        float: right;
    }
    nav {
        position: absolute;
        top: 0;
        width: 100%;
        background: #fefef4;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }
        nav ul li {
        float: none;
        margin-right: 30px;
        margin-bottom: 3px;
        padding: 5px;
        font-size: 15px;
        border: 2px solid #badcb6;
        text-align: center;
    }
    #menu-libro:checked + .menu-icon + nav {
        transform: translateY(0);
    }
    #menu-libro:checked + .menu-icon {
        opacity: 15%;
        margin-top: 30%;
    }
    .presentacion {
        width: 80%;
        margin: auto;
        margin-top: 10%;
    }
    .entrada {
        margin: auto;
        margin-top: 20px;
        width: 100%;
        height: 20%;
        margin-bottom: 40px;
    }
    .resenas {
        width: 70%;
        margin: auto;
        padding-right: 50px;
        margin-bottom: 40px;
    }
    .formulario1 {
        width: 65%;
        margin: auto;
        margin-bottom: 40px;
    }
   .info {
       margin: auto 10px;
       width: 90%;
    }
    .informacion h3 {
        margin-top: 10%;
    }
    .informacion {
        width: 80%;
        margin: auto;
    }
    .productos {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    .encargos {
        width: 72%;
        margin: auto 19px;
    }
   .nuestros-servicios {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 19%;
    }
    .sala-lectura {
        width: 90%;
        margin: auto;
        display: inherit;
        text-align: center;
    }
    .sala-lectura img {
        margin: auto;
    }
    .sala-firmas {
        width: 90%;
        margin: auto;
        display: inherit;
        text-align: center;
    }
    .sala-firmas img {
        margin: auto;
        margin-top: 30px;
    }
    .punto-recogida {
        width: 90%;
        margin: auto;
        display: inherit;
        text-align: center;
    }
    .punto-recogida img {
        margin: auto;
        margin-top: 30px;
    }
    .tarjeta-puntos {
        width: 90%;
        margin: auto;
        display: inherit;
        text-align: center;
        margin-bottom: 60px;
    }
    .tarjeta-puntos img {
        margin: auto;
        margin-top: 30px;
    }
    .tit1 {
        margin-top: 30px;
        margin-left: 15%;
    }
    .libros-nuevos {
    display: inherit;
    text-align: center;
    border-bottom: 3px dotted #83c499;
    }
    .libros-nuevos img {
        margin-top: 20px;
    }
    .benefi {
        margin: auto;
        width: 70%;
    }
     .conta {
        width: 70%;
        margin: auto;
        margin-top: 10%;
    }
}
@media (min-width: 768px) {
      .menu-icon {
        display: none;
      }